<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" href="./img/favicon.png" type="image/x-icon">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>ADSO - OSCAR CASTRO</title>
    <link rel="stylesheet" href="../css/evidencias.css">
  </head>
  <body>
    <nav id='menu'>
      <input type='checkbox' id='responsive-menu' onclick='actualizarMenu()'><label></label>
      <ul>
        <li><a href='/'>Home
        </a></li>
        <li><a class='dropdown-arrow' href='./evidencias.html'>Evidencias</a>
          <ul class='sub-menus'>
            <li><a href='./ga1.html'>GA1</a></li>
            <li><a href='./ga2.html'>GA2</a></li>
            <li><a href='./ga3.html'>GA3</a></li>
            <li><a href='./ga4.html'>GA4</a></li>
          </ul>
        </li>
        <li><a class='dropdown-arrow'>Oscar Castro</a>
          <ul class='sub-menus'>
            <li><a href='https://github.com/ocastrobeltran'>GitHub</a></li>
            <li><a href='https://www.linkedin.com/in/oscar-david-castro-beltran-550699264/'>LinkedIn</a></li>
          </ul>
        </li>
        <li class="adsoHeader">Análisis y desarrollo de software - 2805921</li>
      </ul>
    </nav>
    <header id="headerTop" class="headerTop">
      <img
        src="../img/logoSena.png"
        alt="Logo de la página"
        class="logoSena"
      />
    <div>
      <h1 class="ADSO">Evidencias</h1>
    </div>
    </header>
    <section class="contenedorGA">
        <div id="gridGAs">
            <div id="div1">
                <h3>Guia de Aprendizaje 1</h3>
            </div>
            <div id="div2"><a href="./ga1.html">
                <button class="botonGA" >Evidencias GA1</button>
            </a></div>
            <div id="div3">
                <h3>Guia de Aprendizaje 2</h3>
            </div>
            <div id="div4"><a href="./ga2.html">
                <button class="botonGA" >Evidencias GA2</button>
            </a></div>
            <div id="div5">
                <h3>Guia de Aprendizaje 3</h3>
            </div>
            <div id="div6"><a href="./ga3.html">
                <button class="botonGA" >Evidencias GA3</button>
            </a></div>
            <div id="div7">
                <h3>Guia de Aprendizaje 4</h3>
            </div>
            <div id="div8"><a href="./ga4.html">
                <button class="botonGA" >Evidencias GA4</button>
            </a></div>
        </div>        
    </section>
    <footer id="footerBottom" class="footerBottom">
      <p>ADSO - Oscar Castro</p>

    <script src="../scripts/evidencias.js"></script>
  </body>
</html>
